#banner{
    position: relative;
    top: 0;
    height: 700px;
    background-color: white;
}

#banner-block{
    margin: 0 5px;
    &:hover{
        cursor: pointer;
    }
}    

#banner .banner-table-container{
    position: absolute;
    top: 60px;
    left: 50%;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    max-width: 960px;
    transform: translate(-50%);
    border: 2px solid white;
    border-bottom: 2px solid $light-grey;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

#banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}

#banner .banner_unit{
    width: 120px;
    height: 130px;
    object-fit:cover;
    background-color: white;
    position: relative;
    z-index: 10;
}

#banner .banner_unit_pro{
    width: 120px;
    z-index: 20;
    border-bottom: 5px solid black;
}

#banner .banner_unit .title, #banner .banner_unit_pro .title{
    position: relative;
    font-weight: 600;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#banner .banner_unit img, #banner .banner_unit_pro img{
    position: relative;
    top: 34px;
    left: 50%;
    width:24px;
    height: auto;
    transform: translateX(-50%);
}

@media only screen and (min-width: $medium-screen) {
    #banner .banner-table-container{
        position: absolute;
        top: 60px;
        width: 920px;
    }
}

@media only screen and (max-width: $medium-screen) {
    #banner .banner-table-container{
        position: absolute;
        top: 0;
        height: 130px;
    }
    
    .banner_unit img, .banner_unit_pro img{
        width:20px;
    }
}

@media only screen and (max-width: $small-screen) {
    #banner{
        height: 600px;
    }

    #banner .banner-table-container{
        height: 130px;
    }

    #banner .banner_unit, #banner .banner_unit_pro{
        min-width: 90px;
    }  

    .banner_unit img, .banner_unit_pro img{
        width:20px;
        height:100px;
    }   
  }
