#footer {
    position: relative;
    margin-top: -15px;
    color: white;
    background-color: black;
}

#footer hr{
    width: 95%;
    border: .7px solid rgba(161, 161, 161, 0.575);
    z-index:10;
}

#footer p{
    cursor: pointer;
}

@media only screen and (min-width: $medium-screen) {
    #footer {
        height: 60px;
    }
}

@media only screen and (max-width: $medium-screen) {
    #footer {
        height: 170px;
    }
}

@media only screen and (max-width: $small-screen) {
    #footer .container{
        padding-left: 25px;
    }
}
